p{
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}




.espaco-branco{
    width: 100%;
    height: 30%;
}
@keyframes move-background {
  from {
    background-position: 50% 0%;
  }
  to {
    background-position: 50% 100%;
  }
}


h2{
  color: #3e302d;
}

  main{
    width: 100%;
    margin-top: 10%;

  }

  main >.sobre{
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    flex-direction: column;

  }

  .sobre > h2 > a{
    text-decoration: none;
  }

 .sobre > h2 > a { color: inherit; }
  
 
.sobre > p{
  color: #3e302d;

}
.loja-virtual{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}


.loja-virtual> button {
    background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Alinha o conteúdo do botão ao centro */
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  background: transparent;
  
}
.loja-virtual > a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.loja-virtual > button span {
  margin: 10px;
}

.loja-virtual > button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.loja-virtual > button:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
}

.loja-virtual > button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}
